# dependencies
node_modules/

# Next.js build output
.next/
out/

# production bundles
build/
dist/

# environment files
.env
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode/

# TypeScript
*.tsbuildinfo
